{
  "presets": ["next/babel"],
  "plugins": [
    // ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
    /* [
      "@babel/plugin-transform-async-to-generator",
      {
        "module": "mobx",
        "method": "flow"
      }
    ], */
    // ["@babel/plugin-proposal-decorators", { "legacy": true }],
    // ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@root": "./src",
          // TODO and tsconfig.json
          "@stories": "./src/stories"
        }
      }
    ]
  ]
}
