@use '~mdfin-theme/dist/scss/service' as *;

button.loanButton {
  &:global.button-widget {
    font-size: 2em;
  }

  &Blue {
    font-size: 2em;
    background: $blue;
    color: $white;

    &:not(:disabled):hover {
      background-color: $blue-dark;
    }
  }
}
