@use '~mdfin-theme/dist/scss/service' as *;

.simpleButton {
  padding: 0.5em;
  border-radius: 0.3em;
  border: 0;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;

  &:disabled {
    cursor: auto;
  }
}

.submit {
  color: $white;
  background-color: $blue;

  &:not(:disabled):hover {
    background-color: $blue-dark;
  }

  &:disabled {
    background-color: $blue-misty;
  }
}

.button {
  &:not(:disabled):hover {
    background-color: $black;
    color: $white;
  }

  &:disabled {
    background-color: $gray-misty;
  }
}
