@use '~mdfin-theme/dist/scss/service' as *;

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url(/images/firstBlock_bg.jpg) center / cover no-repeat;
  padding: 1em;
  box-sizing: border-box;

  .titleBig {
    color: $white;
    margin-top: 1em;
    font-size: 3.5em;
    font-weight: 700;
    text-align: center;
    border-bottom: none;
  }

  .subTitle {
    font-size: 2em;
    font-weight: 500;
    color: $white;
    text-align: center;
    margin-top: 1em;
    line-height: 140%;
  }

  .button {
    max-width: 260px;
    margin: 2.5em auto;
    width: 100%;
  }
}
