@use '~mdfin-theme/dist/scss/service' as *;
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* html,
.sb-show-main,
#root {
  height: 100%;
  width: 100%;
}

.decorator {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 */

.wrapper {
  display: flex;
  border: 1px solid $red;
  max-height: 81px;
  //max-width: 60px;
}
